**/GIMP/
**/VirtualBox/
**/file.*
**/icedtea-web/
**/libreoffice/
*.*cert*
*.*db*
*.*sql*
*.*zip
*.7z
*.LfCache
*.aac
*.ansible
*.avi
*.bak
*.bau
*.bmp
*.cache
*.cargo
*.cer
*.cert
*.crate
*.crt
*.csr
*.dat
*.der
*.dic
*.doc*
*.exc
*.fmt
*.gem
*.gif
*.gpg
*.gz
*.hplip
*.ico
*.icons
*.iso
*.java
*.jpeg
*.jpg
*.kbx*
*.key
*.local
*.localstorage*
*.lock
*.m4a
*.mkv
*.mozilla
*.mp3
*.mp4
*.msg
*.newsboat
*.npm
*.odt
*.pack
*.pdf
*.pem
*.pick*
*.pki
*.png
*.psensor
*.py1*
*.pyc
*.pylint*
*.sdv
*.shada
*.so
*.srl
*.stats
*.svg
*.swp
*.tar
*.tar.*
*.tgz
*.thm
*.tiff
*.tmp
*.tmux/plugins
*.vagrant*
*.vdi
*.vhd
*.vim/undo
*.vmdk
*.vmdx
*.w3m
*.webp
*.whl
*bible*
*test*
.Xauthority
.bash_history
.cfg
.config/JetBrains/
.config/QtProject.conf
.config/Recoll.org/
.config/Thunar/
.config/configstore/
.config/dconf/
.config/enchant/
.config/gtk-2.0/
.config/i3/scripts/status-bar/__pycache__/
.config/lazygit/scripts/
.config/lazygit/state.yml
.config/nvim/spell/
.config/polybar/
.config/pulse/
.config/radeon-profile/
.config/ranger/__pycache__/
.config/ranger/scope.sh.1.9.2
.config/remmina/
.config/tmux/plugins/
.config/vimb/closed
.config/vimb/command
.config/vimb/cookies.db
.config/vimb/history
.config/vimb/search
.config/xfce4/
.config/xm1/
.cookiecutter_replay/
.dotfiles
.fehbg
.fltk/
.gnupg/
.install4j
.lesshst
.npmrc
.password-store/
.python_history
.recoll/
.rnd
.ssh/
.swt/
.vim/sessions/main.vim
.viminfo
.vnc/
.wget-hsts
Documents/
Downloads/
Pictures/
Videos/
ansible-doc.vim/
collectd-web/
linux-notes/
mount/
notes/
ocvbot/
scripts/
