*CAD*
*arduino*
.jagex*
/**/__pycache__/**
/.Xauthority
/.bash_history
/.castget
/.cfg
/.config/Code*
/.config/JetBrains*
/.config/Qt*
/.config/Recoll*
/.config/Thunar
/.config/alacritty/alacritty.yml
/.config/amfora
/.config/blender
/.config/brightnessctl/*.md
/.config/brightnessctl/license
/.config/calibre
/.config/configstore
/.config/dconf
/.config/enchant
/.config/gtk-*.0/
/.config/htop/htoprc
/.config/lazygit
/.config/lf
/.config/menus
/.config/mimeapps.list
/.config/nnn
/.config/nvim/spell
/.config/polybar
/.config/pulse
/.config/radeon*
/.config/remmina
/.config/sql*
/.config/tmux/plugins
/.config/vifm
/.config/vim*
/.config/voc*
/.config/xfce*
/.config/xm*
/.cookiecutter*
/.dotfiles
/.fehbg
/.fltk/
/.gnupg/
/.gsutil/
/.i3
/.install4j
/.lesshst
/.locatedb
/.npmrc
/.password-store
/.python_history*
/.recoll
/.rnd
/.ssh
/.ssr
/.swt
/.tmsu
/.vim/sessions/main.vim
/.viminfo
/.vnc
/.vpython*
/.wget-hsts
/202*
/Arduino
/Documents
/Downloads
/Open*
/Pictures
/Videos
/ansible-*
/audio
/auto-*
/collectd*
/documents
/gh
/homes
/library
/linux-*
/logs
/mount
/notes
/package-lock.json
/pictures
/script*
/soft*
/test*
/videos
/virtualbox
jagex*
repos

!/.config/lazygit/config.yml
!/.config/vimb/style.css

.vscode-oss/argv.json
.dockercfg
.config/Zeal/Zeal.conf
.hugin
.config/kmagrc
.config/i3-resurrect
.config/autorandr/main
.cache
.local/lib/python3.8/site-packages
.local
.slocdata
.terraform.d
.vim/undo
keys
nvim-linux64
roles
.cfg.bak
.aws
.git-credentials
.motd_shown
.sqlite_history
.sqlite_history-09713.tmp
.sudo_as_admin_successful
RootEncryption.pem
caci_one_drive
deliverychannel.json
install.sh
keys.sh
rootencryption.pem
.bash_logout
.landscape
.jupyter
.kube
.jfrog
.ipython/profile_default
.ipynb_checkpoints
.dotnet/corefx/cryptography/crls
.dbus/session-bus
.codeium
.ansible
.mozilla/firefox
.oci
.pylint.d
.redhat
openvpn_config
.vim/sessions
.config/vlc
.sqlite_history
.config/teams
.config/autostart
.config/Microsoft/Microsoft Teams
