# ~/.xprofile, sourced when launching interactive login graphical shells
# place stuff here that applies to the whole X user session

# add scripts to $PATH
export PATH="$PATH:/home/austin/scripts/bash"

# create i3 config
cat $HOME/.config/i3/.config-notification $HOME/.config/i3/config-unique-$(hostname) $HOME/.config/i3/config-shared > $HOME/.config/i3/config &

# take screenshots on all hosts but phobos
if [ ! $HOSTNAME == "phobos" ]
then
    # kill currently running screenshot script
    ps aux | grep bash | grep auto-screenshot | awk '{print $2}' | xargs kill -s 9 &
    killall -s 9 scrot &
    # start screenshot script
      # the '&' is required or the window manager will not start
    bash $HOME/scripts/bash/auto-screenshot.sh &>> $HOME/Pictures/auto-screenshot.log &
fi

