#page-header {
  background-color: #303030 !important;
  border-color: #303030 !important;
}
#page-ctn {
  color: #303030 !important;
  max-width: none !important;
}
table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
  border-collapse: collapse;
  border-spacing: 0;
  color: #ffffff !important;
}
th,td,tr {
    background-color: #505050; !important;
    background-image: none !important;
    color: #ffffff !important;
}
* {
    background-image: none !important;
    color: #ffffff
}
div,p {
    background-color: #303030;
    background-image: none !important;
    color: #ffffff
}
body {
    color: #ffffff;
    background-color: #202020 !important;
}
pre,input,textarea {
    background-color: #505050 !important;
    background-image: none !important;
    color: #bbbbbb !important;
}
.markdown-body {
  background: #303030 !important;
  color: #ffffff !important;
}
.markdown-body blockquote {
  padding: 0 15px;
  border-left: 4px solid #ddd !important;
  background-color #00ee00 !important;
  color #00ee00 !important;
}
 code {
  background-color: #505050 !important;
}
h1,h2,h3,h4 {
    background-color: #303030 !important;
    color: #ffffff !important;
}
a {
    color: #1ce6ff !important;
}
a:hover,a:focus {
    color: #b8ddea !important;
}
a:visited {
    color: #b8ddea !important;
}

.hljs-comment {
  color: #939ede !important;
  font-weight: bold
}

.hljs-attr,
.hljs-attribute,
.hljs-built_in,
.hljs-builtin-name,
.hljs-doctag,
.hljs-function,
.hljs-keyword,
.hljs-literal,
.hljs-name,
.hljs-number,
.hljs-regexp,
.hljs-section,
.hljs-selector,
.hljs-selector-id,
.hljs-selector-tag,
.hljs-string,
.hljs-symbol,
.hljs-tag,
.hljs-template-variable,
.hljs-title,
.hljs-variable
{
  color: #ffffff !important;
}
